@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Warm cream background */
  --background: #FAFAF9; 
  /* Warm dark gray text */
  --foreground: #44403C; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

